@import url('https://fonts.googleapis.com/css?family=Roboto');
* {
    box-sizing: border-box;
}
body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
    background-image: linear-gradient(#037ac4, #e8ddd9);
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h1{
  color: #262626;
  
}
header {
    margin: 30px 0;
    text-align: center;
}
header h2 {
    text-transform: uppercase;
    margin: 0;
}
header p {
    font-size: 1em;
}
header a {
    text-decoration: none;
    border-bottom: 2px dotted #ff8700;
    color: inherit;
}
.signup {
    width: 700px;
    height: 460px;
    position: relative;
    overflow: hidden;
    box-shadow: 10px 10px 60px rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-radius: 5px;
}
.signup:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    transform: scaleX(-1);
    z-index: -1;
    background-image: linear-gradient(#8c3bce, #0bfe74);
}
form {
    width: 50%;
    height: 80%;
    padding: 20px 50px 20px 20px;
}
form .form-group {
    display: flex;
    flex-direction: column;
    margin: 0 0 20px 0;
    color: #8f949b;
    font-size: 0.9em;
}
form .form-group label {
    margin: 0 0 16px 0;
}
form .form-group span {
    font-size: 0.8em;
    color: #ff3400;
}
form .form-group span#characters {
    font-size: 0.8em;
    color: #8f949b;
}
.form-group input[type="text"], .form-group input[type="password"] {
    border: none;
    outline: none;
    background: transparent;
    padding: 0 0 10px 0;
    font-size: 1em;
    border-bottom: 1px dotted #8f949b;
}
.form-group input[type="password"] {
    color: #ff3400;
}
form .form-group:last-child {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 40px 0 0 0;
}
form .form-group:last-child button {
    border: none;
    background: linear-gradient(to left, #ff8700, #ffb100);
    padding: 10px 30px;
    border-radius: 20px;
    color: #fff;
    font-size: 0.8em;
    font-weight: bold;
    letter-spacing: 1px;
    cursor: pointer;
}
form .form-group:last-child button.active {
    opacity: 0.5;
    cursor: default;
}
form .form-group:last-child a {
    color: #8f949b;
    text-decoration: dotted;
    font-size: 0.8em;
}
.results, .terms {
    width: 50%;
    height: 80%;
    padding: 20px 50px 20px 20px;
}
.fade-enter-active, .fade-leave-active {
    transition: all 0.8s;
}
.fade-enter, .fade-leave-active {
    opacity: 0;
    transform: translateX(-40px);
}
@charset "UTF-8";
.navigation {
  height: 70px;
  background: #262626;
}
.brand {
  margin-top: 10px;
  position: absolute;
  padding-left: -100px;
  float: left;
  margin-left: -100px;
}
.brand a, .brand a:visited {
  color: #ffffff;
  text-decoration: none;
}
.nav-container {
  max-width: 1000px;
  margin: 0 auto;
}
nav {
  float: right;
}
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
nav ul li {
  float: left;
  position: relative;
}
nav ul li a, nav ul li a:visited {
  display: block;
  padding: 0 20px;
  line-height: 70px;
  background: #262626;
  color: #ffffff;
  text-decoration: none;
}
nav ul li a:hover, nav ul li a:visited:hover {
  background: #2581DC;
  color: #ffffff;
}
nav ul li a:not(:only-child):after, nav ul li a:visited:not(:only-child):after {
  padding-left: 4px;
  content: ' ▾';
}
nav ul li ul li {
  min-width: 190px;
}
nav ul li ul li a {
  padding: 15px;
  line-height: 20px;
}
/* Mobile navigation */
.nav-mobile {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  background: #262626;
  height: 70px;
  width: 70px;
}
@media only screen and (max-width: 798px) {
  .nav-mobile {
    display: block;
  }
  nav {
    width: 100%;
    padding: 70px 0 15px;
  }
  nav ul {
    display: none;
  }
  nav ul li {
    float: none;
  }
  nav ul li a {
    padding: 15px;
    line-height: 20px;
  }
  nav ul li ul li a {
    padding-left: 30px;
  }
  .nav-dropdown {
    position: static;
  }
}
@media screen and (min-width: 799px) {
  .nav-list {
    display: block !important;
  }
}
#nav-toggle {
  position: absolute;
  left: 18px;
  top: 22px;
  cursor: pointer;
  padding: 10px 35px 16px 0px;
}
#nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
  cursor: pointer;
  border-radius: 1px;
  height: 5px;
  width: 35px;
  background: #ffffff;
  position: absolute;
  display: block;
  content: '';
  transition: all 300ms ease-in-out;
}
#nav-toggle span:before {
  top: -10px;
}
#nav-toggle span:after {
  bottom: -10px;
}
#nav-toggle.active span {
  background-color: transparent;
}
#nav-toggle.active span:before, #nav-toggle.active span:after {
  top: 0;
}
#nav-toggle.active span:before {
  transform: rotate(45deg);
}
#nav-toggle.active span:after {
  transform: rotate(-45deg);
}
.myButton {
  margin-top: 16px;
  margin-right: 10px;
	box-shadow: 3px 4px 0px 0px #1564ad;
	background:linear-gradient(to bottom, #79bbff 5%, #378de5 100%);
	background-color:#79bbff;
	border-radius:18px;
	border:1px solid #337bc4;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:7px 25px;
	text-decoration:none;
	text-shadow:0px 1px 0px #528ecc;
}
.myButton:hover {
	background:linear-gradient(to bottom, #378de5 5%, #79bbff 100%);
	background-color:#378de5;
}
.myButton:active {
	position:relative;
	top:1px;
}
/* Footer */
.footer{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  height: 200px;
}
.footer a {
  color: #ffffff;
}
.footer a:hover{
  color: #2581DC;
}
.footer .social > *{
  margin-right: 30px;

}
/* MOBILE */
@media(max-width: 768px){
  .navbar{
      flex-direction: column;
      height: 120px;
      padding: 20px;
  }
  .navbar a{
      padding: 10px 10p;;
      margin:0 3px;
  }
  .flex-items{
      flex-direction: column;
  }
  .flex-columns .column, .flex-grid{
      flex: 100%;
      max-width: 100%;
  }
   .team img{
       width: 70%;
   }
}
.btn {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}